<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DmmX8_Plus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DmmX8_Plus.Properties.Settings>
            <setting name="DMM_Alias" serializeAs="String">
                <value>dmm2</value>
            </setting>
            <setting name="Switch_Alias" serializeAs="String">
                <value>swA</value>
            </setting>
            <setting name="UpperLimitInMA" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="LowerLimitInMA" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NumOfSamples" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IntervalOfSamplingInMS" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="progress_step" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WaitInMS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SNLength" serializeAs="String">
                <value>12</value>
            </setting>
        </DmmX8_Plus.Properties.Settings>
    </userSettings>
</configuration>